# Database Credentials
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_database_name

# Database Connection (Default for Docker)
POSTGRES_HOST=db
POSTGRES_PORT=5432
